<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script type="module" src="./client.js"></script>
	</head>
	<body>
		<div class="content-wrapper">
			<aside class="left-sidebar">
				<section class="spotlight">
					<h1>Spotlight</h1>
					<div id="station-info"></div>
					<a href="#" id="refresh-link">Refresh</a>
				</section>

				<section class="stats-section">
					<h1>Stats</h1>
					<p>total stations: 4000</p>
					<p>total owners:</p>
					<ul class="stats-list">
					  <li>
						<div class="station-item">
						  <span>Caltex</span>
						  <span>1502</span>
						</div>
					  </li>
					  <li>
						<div class="station-item">
						  <span>BP</span>
						  <span>1230</span>
						</div>
					  </li>
					  <li>
						<div class="station-item">
						  <span>Shell</span>
						  <span>838</span>
						</div>
					  </li>
					  <li>
						<div class="station-item">
						  <span>7-Eleven Pty Ltd</span>
						  <span>742</span>
						</div>
					  </li>
					  <li>
						<div class="station-item">
						  <span>Independent Fuel Supplies</span>
						  <span>386</span>
						</div>
					  </li>
					  <li>
						<div class="station-item">
						  <span>United</span>
						  <span>216</span>
						</div>
					  </li>
					  <li>
						<div class="station-item">
						  <span>Ampol</span>
						  <span>86</span>
						</div>
					  </li>
					</ul>
				  </section>

				<section class="latest-section">
					<h1>Latest Prices</h1>
					<p>Current date: <span id="current-date"></span></p>
					<ul>
						<li>
						<span>WTI crude oil:</span>
						<span id="wti-price"></span>
						</li>
						<li>
						<span>Brent crude oil:</span>
						<span id="brent-price"></span>
						</li>
						<li>
						<span>Natural gas:</span>
						<span id="natgas-price"></span>
						</li>
					</ul>
					</section>

				<section class="about">
					<h1>About</h1>
					<h2>Team: <a href="https://github.com/caleb-love/servo_app">initToWinIt</a></h2>
					<ul>
						<li> <a href="https://github.com/caleb-love">Caleb</a></li>
						<li><a href="https://github.com/ta5one">Mohammed</a></li>
						<li><a href="https://github.com/pik-nik">Nikki</a></li>
						<li><a href="https://github.com/Squshedfrog">Simon</a></li>
					</ul>
					<footer>&copy; 2023 initToWinIt</footer>
				</section>
			</aside>

			<main id="map">
				<h1>map</h1>
			</main>

			<aside class="right-sidebar">
				<section class="clock"><img src="/images/city-icon.png" alt=""><span class="time"></span></section>
				
				<section class="map-centre">
					<h2>Map Center Location</h2>
					<p >lat: <span class="lat"></span></p>
					<p >lng: <span class="lng"></span></p>
					<h4 class="map-loc"></h4>
					
				</section>
				<div class="nearest-ps"><h2>Nearest Petrol Stations</h2></div>
				<section id="petrol-stations-list">
				</section>
			</aside>

		</div>

		<script>const commoditiesApiKey = '<%= commoditiesApiKey %>';</script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script 
			src="https://maps.googleapis.com/maps/api/js?key=<%=googleApiKey%>&callback=initMap&v=weekly"
			defer
		></script>
		<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/dayjs.min.js"></script>
        <script src="/components/clock.js"> </script>
        <script src="/components/spotlight.js"> </script>
        <script src="/components/stats.js"> </script>
        

	</body>
</html>
