* {
	/* border: 1px solid red; */
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
	color: #303030;
}

body.dark-mode {
	background-color: #333;
	color: #f0f0f0;
  }

.content-wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	height: 100vh;
}

/* ----------------------------------------------- Map -------------------------------  */

#map {
	height: 100vh;
	border: 1px solid #3F403F;
	margin: 5px;
}

 /* -------------- mouse over label styling */
 .labels{
	border-radius: 7%;
	background-color:rgba(252, 252, 252, 0.7);
	height: 40px;
	display: flex;	
	align-items: center;
	justify-content: center;
}

/* ------------------ legend */

#legend {
	background: rgb(255, 255, 255, 0.95);
	padding: 10px;
	margin: 10px;
	width: fit-content;
	box-shadow: 2px 2px 10px #868585;
  }
  
  #legend h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 4px;
  }
  
  #legend img {
	vertical-align: middle;
	height: 18px;
	padding: 2px;
  }

/* ------------------------------------------- Left section ----------------------------------- */
/* --------------- spotlight */
.spotlight-section {
	padding: 0 5px 40px 5px;
	border: 3px solid black;
	display: grid;
	grid-template-columns: 3fr 1fr;
	background-color: #ffe4e1;
	margin: 0;
}

.spotlight-section img {
	height: 50px;
	
	padding-top: 32px;
	padding-bottom: 10px;
}

/* --------------- Stats section */
.stats-section {
	border-left: 3px solid black;
	border-right: 3px solid black;

	padding: 10px 5px 40px 5px;
	background-color: #fff0d5;
	
}
.stats-section h3, .stats-section h2{
	margin: 3px 0;
}
.stats-list {
	list-style: none;
	padding-left: 0;
	line-height: 27px;
}

.station-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid #3F403F;
}

.second-line{
	background-color: #ffe4c4;
}

/* -------------- latest Prices */
.latest-section {
	border: 3px solid #3F403F;
	padding: 0 5px 0 5px;
	background-color: #FFDCFF;
}

/* --------------- About */
.about {
	border: 3px solid #3F403F;
	padding: 0 5px 0 5px;
	margin: 0;
}
/* -------------------------------------------- right section --------------------------------- */
/* ------------------------------- clock element */
.clock {
	display: flex;
	align-items: center;
	justify-content: center;
    color: #3F403F;
	height: 70px;
	border: 3px solid #3F403F;
	border-bottom: none;
	background-color: #FFEDDC;
    font-size: 24px;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
}

.clock img {
	margin: 10px;
	height: 23px;
}
/* ----------------------------- map center Location*/
.map-centre{
	border: 3px solid #3F403F;
	background-color: #DCFFDC;
	padding: 0 15px;
	height: 200px;
}
.map-centre p{
	margin: 0;
}
/* ------------------------- nearest Petrol Stations */
#petrol-stations-list {
	border: 3px solid #3F403F;
	border-top: none;
	background-color: #fff0d5;
}

.station-item-right {
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	border-top: 3px solid #3F403F;
	padding: 0 0 5px 5px;
}
  
  .station-item-right h2 {
	font-size: 18px;
	margin: 0 0 5px 0;
}
  
  .station-item-right p {
	margin: 0;
}

.nearest-ps {
	/* border-left: 3px solid #3F403F;
	border-right: 3px solid #3F403F; */
	
	padding: 5px 0px 20px 5px;
	border: 3px solid #3F403F;
	border-bottom: none;
	margin: -19.9px 0;
	background-color: #fff0d5;
	
}

/* ----------------------------------------------------- Dynamic Elements -------------------------------- */

/* ----------------hot key element KEEP AT BOTTOM */
.none {
	display: none;
}

.full-screen {
	height: 100vh;
	width: 100vw;
	display: block;
}
